* {
    box-sizing: content-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: Poppins, sans-serif;
    color: white;
    font-weight: 400;
    flex-direction: column;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #1a1a1a;
}

body::-webkit-scrollbar {
    width: 3px;
}

body::-webkit-scrollbar-track {
    background: #1a1a1a;
}

body::-webkit-scrollbar-thumb {
    background-color: #e76047;
    border-radius: 20px;
    border: 3px solid #e76047;
}

header {
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 100px;
    padding: 0;
    box-shadow: 0 4px 20px 0 black;
}

#topologo {
    position: absolute;
    left: 40px;
    top: 0;
    height: 100px;
    width: 250px;
}

#botaoPri {
    left: 920px;
    top: 40px;
}

#botaoCat {
    left: 1160px;
    top: 40px;
}

#botaoDes {
    left: 1400px;
    top: 40px;
}

.botao-menu {
    position: absolute;
}

.botao-menu a {
    padding: 10px 70px;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    background-color: #252525;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.botao-menu a:hover {
    background-color: #1a1a1a;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.5);
}

#botaoLogin a{
    position: absolute;
    left: 1650px;
    top: 30px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    padding: 10px 70px;
    background-color: #5ba9bf;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#botaoLogin a:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #5198ac;
}

main {
    height: 920px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

#separador {
    border-left: 1px solid white;
    padding-top: 480px;
    opacity: 0.5;
    box-shadow: 0 5px 10px 8px rgba(0, 0, 0, 0.8);
}

#dados-container {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #252525;
    height: 550px;
    width: 600px;
    position: relative;
    box-sizing: content-box;
    box-shadow: -5px 0px 15px 2px rgba(0, 0, 0, 0.6);
}

.table-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 0;
    width: 75%;
    height: 79%;
}

table td {
    height: 0;
    width: 0;
}

#dados-container #botaoLogin {
    font-size: 15px;
    font-weight: bold;
    border-radius: 4px;
    margin: 0;
    padding: 10px 70px;
    background-color: #5ba9bf;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#dados-container #botaoLogin:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    transform: translateY(-1px);
}

.altura {
    height: 60px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.9);
    padding: 0;
    margin: 0;
}

label {
    font-size: 15px;
    font-weight: bold;
}

hr {
    margin: 0;
    width: 100%;
    border: 0;
    border-top: 3px solid #1a1a1a;
}

p2 {
    font-size: 12px;
}

p3 {
    font-size: 12px;
}

span a{
    color: #e76047;
    font-weight: bold;
    text-decoration: none;
}

.insert {
    padding: 15px 260px 15px 15px;
    border: 2px solid #1a1a1a;
    border-radius: 5px;
    background-color: #1a1a1a;
    font-size: 15px;
    color: white;
    transition: border-color 0.4s ease;
    outline: none;
}

.insert:focus {
    border-color: white;
}

#icone-olho {
    position: absolute;
    background-image: url('icone-olho.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    left: 480px;
    cursor: pointer;
    top: 59%;
}

#icone-olho:hover {
    background-image: url(icone-olho-cortado.png);
    opacity: 0.9;
}

#botlog {
    padding: 10px 70px;
    background-color: #5ba9bf;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#botlog:hover {
    background-color: #5198ac;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.5);
}

#oplogin-container {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #252525;
    height: 550px;
    width: 300px;
    box-shadow: -5px 0px 15px 2px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#oplogin-container h1 {
    position: absolute;
    top: 36.5%;
    left: 65.5%;
}

#oplogin-container p {
    position: absolute;
    left: 62.5%;
    top: 41%;
}

#oplogin-container hr {
    position: absolute;
    top: 41.8%;
    left: 60%;
    width: 260px;
}

.icone-login {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 95px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 7px 4px 10px 0px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.4s ease, opacity 0.4s ease;
}

.icone-login:hover {
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.6);
    opacity: 0.7;
}

#gg-login {
    background-image: url('g-icone.png');
    border: 2px solid #b60101;
    position: absolute;
    left: 64%;
    top: 47%;
}

#ap-login {
    background-image: url('a-icone.png');
    border: 2px solid black;
    position: absolute;
    left: 64%;
    top: 60%;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #0e0e0e;
}

.footer-container {
    height: 100%;
    width: 100%;
    z-index: 20;
    position: relative;
}

#logo {
    position: absolute;
    left: 35px;
    top: 25px;
    width: 350px;
    height: 150px;
}

.footer-container p {
    position: absolute;
    left: 650px;
    top: 50px;
    font-size: 30px;
}

.footer-container p2 {
    position: absolute;
    left: 800px;
    top: 150px;
}

#botaoCadastrofooter a{
    position: absolute;
    font-size: 20px;
    top: 80px;
    left: 1600px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 2px;
    color: white;
    padding: 10px 50px;
    background-color: #e76047;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#botaoCadastrofooter a:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    transform: translateY(-1px);
}