body {
    font-family: Poppins, sans-serif;
    color: black;
    font-weight: 400;
    flex-direction: column;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: white;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#menuTopo {
    background-color: rgb(255, 255, 255), 255);
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 100px;
    align-items: center;
}

#botaoLogin a{
    font-weight: bold;
    text-decoration: none;
    border-radius: 2px;
    color: white;
    margin-right: 40px;
    padding: 10px 50px;
    background-color: #158dad;
}

#botaoLogin a:hover {
    box-shadow: 0 2px 7px 0 rgb(0, 0, 0, 0.5);
}

#menuLogo {
    width: 300px;
    height: 100px;
    position: absolute; 
    top: 0;
    left: 450px;
}

nav {
    width: auto;
    height: 50px;
}

#navSec {
    display: flex;
    justify-content: space-around;
}

#navSec a{
    border-radius: 1px;
    text-decoration: none;
    color: black;
    display: flex;
}

.menuNav a{
    padding: 15px 142px 15px;
}

#navSec a:hover {
    border-radius: 1px;
    color: white;
    background-color: #158dad;
    transition: 0.4s ease;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.5);
}

#res{
    display: flex;
    justify-content: center;
    background-color: #158dad;
    width: 1000px;
    height: 500px;
}

#aprensentacao {
    background-size: 1300px 630px;
    background-image: url(apresentação-exemplo.jpg); 
    background-repeat: no-repeat;
    -webkit-mask-image:linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
    -webkit-mask-size: 100% 100%;
    width: 1000px;
    height: 500px;
}

#textApre {
    color: white;
    font-size: 40px;
    position: absolute;
    left: 480px;
    top: 200px;
}

#res2 {
    background-color: lightgray;
    height: 500px;
    width: 100%;
}

#res3 {
    background-color: rgb(146, 12, 12);
    height: 500px;
    width: 100%;
}

footer {
    width: 100%;
    height: 250px;
    background-color: rgb(17, 17, 83);
}