body {
    flex-direction: column;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

header {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#menuTopo {
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: auto;
    align-items: center;
}

#loginButton { 
    margin-left: 700px;
}

#res{
    display: flex;
    justify-content: center;
    background-color: bisque;
    width: 1000px;
    height: 500px;
}

#res2 {
    background-color: lightgray;
    height: 500px;
    width: 100%;
}

#res3 {
    background-color: rgb(146, 12, 12);
    height: 500px;
    width: 100%;
}

footer {
    width: 100%;
    height: 250px;
    background-color: rgb(17, 17, 83);
}